@model User
<partial name="_Notification" />

    <h2>Change Password</h2>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form method="post">
                    <div asp-validation-summary="All"></div>


                   
                    <label class="py-2">Old Password</label>
                    <input placeholder="Old Password" name="oldPassword" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <br />
                    <label class="py-2">New Password</label>
                    <input placeholder="New Password" name="newPassword" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <br />
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                </form>

            </div>
        </div>
    </div>

